.card-link {
  align-items: center;
  all: unset;
  background-color: rgba(82, 83, 84, 0.04);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 12.5px;
  transition: transform 0.3s ease;
  width: 200px;
}

.card-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05, 1.05);
}

.card {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 150px;
}

.card img {
  border-radius: 10px;
  width: 150px;
}

.card h3 {
  font-size: 12px;
  margin: 13px 0 3px;
}

.card p {
  font-size: 9px;
  margin: 0;
}
